.outcome {

	padding: 2em;
	min-width: $outcome-dimension-header * 2;

	@media #{$mq-tablet} {
		min-width: auto;
	}

	&-container {
		display: flex;
		align-items: center;
		height: 100%;

		@media screen and (min-width: $outcome-dimension-header * 6) {
			justify-content: center;
		}
	}

	&-header {
		position: relative;
		text-align: center;
		width: $outcome-dimension-header;
		height: $outcome-dimension-header;
		margin: 0 auto 1rem;
		padding: 3.7em 0 1em;
	}

	&-figure {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&-figure,
	&-vector {
		width: 100%;
		height: 100%;
	}

	&:not(.loaded) &-circle {
		stroke-dashoffset: $outcome-dimension-header * 3.14!important;
	}

	&-circle {
		r: 47.5%;
		cx: 50%;
		cy: 50%;
		fill: transparent;
		stroke: $outcome-color-highlighted;
		stroke-width: $outcome-dimension-stroke;
		stroke-dasharray: $outcome-dimension-header * 3.14;
		transform: rotate(-90deg);
		transform-origin: 50% 50%;
		transition: stroke-dashoffset 0.35s ease-out;

		&-breakdown {
			r: 40%;
			cx: 50%;
			cy: 50%;
			clip-path: url(#outcome-clip);
			fill: rgba($outcome-color-highlighted, 0.15);
		}
	}

	&-rect {
		@include outcome-rects($outcome-dimension-stroke, 2%, 1%);
	}

	&-clipper {
		x: 0;
		y: $outcome-dimension-header * 0.625;
		width: 100%;
		height: 62.5%;
	}

	&-title,
	&-value {
		position: relative;
		z-index: 1;
		font-weight: $font-weight-semibold;
		line-height: 1;
	}

	&-title {
		text-transform: uppercase;
		color: $outcome-color-highlighted;
		font-size: 1.35em;
	}

	&-value {
		font-size: 1.75em;
	}

	&-details {
		@extend %nolist;
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid $outcome-color-highlighted;

		&:empty {
			height: 3.9rem;
		}
	}

	&-item {
		padding-bottom: 0.85em;

		&:last-of-type {
			text-align: right;
		}

		&-name {
			margin-bottom: 0.5em;
		}

		&-price {
			color: $outcome-color-highlighted;
		}

		&-percentage {
			margin-right: 0.5rem;
		}
	}
}