// module colour themes

$outcome-color-highlighted: $color-core-text-special;

$outcome-color-revenue-tablet: $green-light;
$outcome-color-revenue-mobile: $green-dark;

$outcome-color-impressions-tablet: $blue-light;
$outcome-color-impressions-mobile: $blue-dark;

$outcome-color-visits-tablet: $orange-light;
$outcome-color-visits-mobile: $orange-dark;

// module dimension vars

$outcome-dimension-header: 12rem;

$outcome-dimension-rect-longside: 0.25rem;
$outcome-dimension-rect-shortside: 0.15rem;